<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />

<title layout:title="$TITLE"></title>
</head>
<body>
	<div th:replace="fragments/header :: nav"></div>
	<div layout:fragment="content"></div>
	<div class="pre-footer" style="min-height: 5em;"></div>
	<div th:replace="fragments/footer :: footer"></div>

	<script th:src="@{/js/jquery.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>