<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Hostal Doña Clarita</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"> <em class="fa fa-home"></em>
				</a></li>
				<li class="active">Empleados</li>
			</ol>
		</div>
		<!--/.row-->

		<div class="row">
			<h4>Agregar Usuario</h4>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Forms</div>
				<div class="panel-body">
					<div class="col-md-6">
						<form role="form" method="POST" th:href="@{/admin/empleados/add}">
							<div class="form-group">
								<label>Nombre de usuario: </label> <input type="text"
									name="username" class="form-control"
									placeholder="Nombredeusuario" required>
							</div>
							<div class="form-group">
								<label>Clave: </label> <input type="password" class="form-control" name="clave"
									placeholder="Clave" required>
							</div>
							<div class="form-group">
							<label>Rol:</label>
								<select name="rol">
									<option value="">--</option>
									<option value="Administrador">Administrador</option>
									<option value="Usuario">Usuario</option>
									<option value="Cliente">Cliente</option>
									<option value="Proveedor">Proveedor</option>
								</select>
							</div>
							<div class="form-group">
								<label>Nombre: </label> <input class="form-control"
									name="nombre" placeholder="Nombre" required>
							</div>
							<div class="form-group">
								<label>Apellido Paterno: </label> <input type="text" name="apellidoPaterno"
									class="form-control" placeholder="Apellido" required>
							</div>
							<div class="form-group">
								<label>Apellido Materno: </label> <input type="text" name="apellidoMaterno"
									class="form-control" placeholder="Apellido" required>
							</div>
							
							<button type="submit" class="btn btn-primary">Agregar</button>
							<button type="reset" class="btn btn-default">Restablecer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>