<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Hostal Doña Clarita</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"> <em class="fa fa-home"></em>
				</a></li>
				<li class="active">Usuarios</li>
			</ol>
		</div>
		<!--/.row-->
		
		<div class="row">
			<h2>Lista de Usuarios</h2>
		</div>
		
	</th:block>
</body>
</html>