<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Hostal Doña Clarita</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"> <em class="fa fa-home"></em>
				</a></li>
				<li class="active">Usuarios</li>
			</ol>
		</div>
		<!--/.row-->
		<div class="container">
			<div class="row">
				<div>
					<h4 style="width: 70%; float: left;">LISTA DE USUARIOS</h4>
					<button class="btn-success" style="margin-top: 8px"
						th:onclick="'javascript:addRedirect();'">Agregar</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10">
					<div class="table-responsive">
						<table id="mytable" class="table table-bordred table-striped">
							<thead>
								<th>NOMBRE DE USUARIO</th>
								<th>ROL</th>
								<th>NOMBRE</th>
							</thead>
							<tbody>
								<tr th:each="usu : ${usuarios}">
									<td th:text="${usu.usuariO_NOMBRE_USUARIO}"></td>
									<td th:text="${usu.usuariO_ROL}"></td>
									<td
										th:text="${usu.usuariO_NOMBRE + ' ' + usu.usuariO_APELLIDO_P + ' ' + usu.usuariO_APELLIDO_M}"></td>
									<td><p data-placement="top" data-toggle="tooltip"
											title="Edit">
											<button class="btn btn-primary btn-xs" data-title="Edit"
												data-toggle="modal" data-target=""
												th:onclick="'javascript:redirectEdit(' + ${usu.usuariO_NOMBRE_USUARIO} + ');'">
												<span class="glyphicon glyphicon-pencil"></span>
											</button>
										</p></td>
									<td><p data-placement="top" data-toggle="tooltip"
											title="Delete">
										<form method="post" th:action="@{/admin/usuarios/delete}"
											id="delete"></form>
										<button class="btn btn-danger btn-xs" data-title="Delete"
											data-toggle="modal" data-target=""
											th:onclick="'javascript:redirectDelete(' + ${usu.usuariO_NOMBRE_USUARIO} + ');'">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
										</p></td>
								</tr>
							</tbody>
						</table>
						<div class="clearfix"></div>
					</div>

				</div>
			</div>
		</div>
		<script>
			function addRedirect() {
				location.href = '/admin/usuarios/add'
			}
		</script>
	</th:block>
</body>
</html>