<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Hostal Doña Clarita</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"> <em class="fa fa-home"></em>
				</a></li>
				<li class="active">Empresas</li>
			</ol>
		</div>
		<!--/.row-->

		<div class="row">
			<h2>Editar Empresa</h2>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Forms</div>
				<div class="panel-body">
					<div class="col-md-6">
						<form role="form" method="POST" th:href="@{/admin/empresas/edit}">
							<div class="form-group">
								<label>RUT: </label> <input type="number" name="rut" class="form-control" max="99999999" th:value="${empresa.empresA_RUT}" readonly required>
							</div>
							<div class="form-group">
								<label>Dígito Verificador: </label> <input class="form-control" name="dv" maxlength="1" th:value="${empresa.empresA_RUT_DV}" readonly required>
							</div>
							<div class="form-group">
								<label>Nombre: </label> <input class="form-control" name="nombre" th:value="${empresa.empresA_NOMBRE}" required>
							</div>
							<div class="form-group">
								<label>Dirección: </label> <input class="form-control" name="direccion" th:value="${empresa.empresA_DIRECCION}" required>
							</div>
							<div class="form-group">
								<label>Email: </label> <input type="email" name="email" class="form-control" th:value="${empresa.empresA_EMAIL}" required>
							</div>
							<button type="submit" class="btn btn-primary">Guardar</button>
							<button type="reset" class="btn btn-default">Restablecer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>