<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Username</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li><a th:href="@{/admin/usuarios/list}"><em class="fa fa-dashboard">&nbsp;</em> Usuarios</a></li>
			<li><a th:href="@{/admin/empleados/list}"><em class="fa fa-dashboard">&nbsp;</em> Empleados</a></li>
			<!-- <li><a th:href="@{/admin/habitaciones/list}"><em class="fa fa-calendar">&nbsp;</em> Habitaciones</a></li> -->
			<li><a th:href="@{/admin/empresas/list}"><em class="fa fa-bar-chart">&nbsp;</em> Empresas</a></li>
			<!-- <li><a th:href="@{/admin/rubros/list}"><em class="fa fa-toggle-off">&nbsp;</em> Rubros</a></li> -->
			<li><a th:href="@{/admin/proveedores/list}"><em class="fa fa-toggle-off">&nbsp;</em> Proveedores</a></li>
			<li><a th:href="@{/admin/productos/list}"><em class="fa fa-toggle-off">&nbsp;</em> Productos</a></li>
			<li><a th:href="@{/admin/huespedes/list}"><em class="fa fa-toggle-off">&nbsp;</em> Hospedados</a></li>
			<li><a th:href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->