*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}
section{
	
	float: left;
	width: 50%;
	margin-top:7%;
}
section h2{	
	text-align: center;
	font-family: 'EB Garamond', serif;
}
.labels,.inputs{
	float:left;
	margin-left: 10%;
	padding: 3%;
}

.label,.input{
	display: block;
	margin-top: 10%;
}
.label{	
	padding: 3%;
	margin-bottom: 25%;
}
.buttons{	
	clear: both;
	margin-left: 30%;
	margin-bottom: 2%;
}
a{
	margin-left: 25%;
	padding-top: 2%;
}